body{
    background-image: linear-gradient(to right,#1C5D99,#639FAB);
margin: 0px;
}

main{
    margin: 250px;
}
h1,h3{
    text-align: center;
    color: white;
    font-family: cursive;
    font-size: 20px;
    margin-top: 100px;
}
.line{
    text-decoration: underline;
}
header{
    overflow: hidden;
    background-color:#ffffff ;
    color: rgb(0, 0, 0);
list-style-type: none;
display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;}
nav{
    justify-content: space-around;}
 ul{
    overflow: hidden;}
  li{
    list-style-type: none;
    float: left;}
a{
    text-decoration: none;
    
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;}
li:hover{
    background-color: #98ce00;
    border-radius: 25px;
}
img{
    width: 25px;
    height:25px;margin-left: 40px;
}
.cont{
    margin-top: 100px;
    display: flex;
    justify-content:center;
    
}
footer{
    display: flex;
    justify-content:center;
}
hr{
    color: #98ce00;
    background-color: #98ce00;
height: 3px;
}
figcaption{
    margin-left: 50px;
    margin-top: 0;
    background-color: #98ce00;
    width: 200px;
}
.con2{
    float: right;
}
figcaption:hover{
    position: fixed;
}
    



2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
	
.content-block-fix {
    margin: 20px 0;
    padding: 20px;
    background: #FFF;
    font-size: 16px;
    border: 2px solid #BFE2FF;
    position: relative;
}
.content-block-text {
    height: 150px;
    overflow: hidden;    
    position: relative;
    transition: margin 0.3s;
}
.content-block-text-open {
    height: auto;
    margin-bottom: 50px;
}
.content-block-text-shadow:after {
    content: "";
    position: absolute;
    pointer-events: none;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 75%)    
}
.show-all-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: none;
}